<p-sidebar
  class="sidebar"
  #sidebarRef
  [visible]="(sideBarVisible | async) ?? false"
  [modal]="false"
>
  <ng-template pTemplate="headless">
    <div class="flex flex-column h-full">
      <div
        class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0"
      >
        <span class="inline-flex align-items-center gap-2">
          <p-avatar
            image="../../.././assets/logo/logo.webp"
            shape="square"
            size="large"
            [style]="{ width: '80px', height: '50px' }"
          ></p-avatar>
        </span>
      </div>

      <div class="flex flex-column overflow-y-auto flex-1 pl-3">
        <div class="flex flex-column">
          <div
            pRipple
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="slidedown"
            leaveToClass="hidden"
            leaveActiveClass="slideup"
            class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple flex-shrink-0"
          >
            <div class="flex align-items-center gap-2">
              <i class="pi pi-desktop font-semibold"></i>
              <span class="font-semibold">Screen</span>
            </div>
            <i class="pi pi-chevron-down"></i>
          </div>

          <ul class="list-none pl-2 m-0 overflow-hidden">
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                pRipple
                [routerLink]="['/', routes.SCREEN, routes.SCREEN_LIST]"
                class="flex align-items-center cursor-pointer p-3 border-round text-700 no-underline hover:surface-100 transition-duration-150 transition-colors p-ripple"
              >
                <i class="pi pi-list mr-2 text-sm"></i>
                <span class="font-medium text-sm">List</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="flex flex-column">
          <div
            pRipple
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="slidedown"
            leaveToClass="hidden"
            leaveActiveClass="slideup"
            class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple flex-shrink-0"
          >
            <div class="flex align-items-center gap-2">
              <i class="pi pi-file-plus font-semibold"></i>
              <span class="font-semibold">Advertiser</span>
            </div>
            <i class="pi pi-chevron-down"></i>
          </div>
          <ul class="list-none pl-2 m-0 overflow-hidden">
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                pRipple
                [routerLink]="['/', routes.ADVERTISER, routes.ADVERTISER_LIST]"
                class="flex align-items-center cursor-pointer p-3 border-round text-700 no-underline hover:surface-100 transition-duration-150 transition-colors p-ripple"
              >
                <i class="pi pi-list mr-2 text-sm"></i>
                <span class="font-medium text-sm">List</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="flex flex-column">
          <div
            pRipple
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="slidedown"
            leaveToClass="hidden"
            leaveActiveClass="slideup"
            class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple flex-shrink-0"
          >
            <div class="flex align-items-center gap-2">
              <i class="pi pi-file-plus font-semibold"></i>
              <span class="font-semibold">Media</span>
            </div>
            <i class="pi pi-chevron-down"></i>
          </div>

          <ul class="list-none pl-2 m-0 overflow-hidden">
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                pRipple
                [routerLink]="['/', routes.MEDIA, routes.MEDIA_LIST]"
                class="flex align-items-center cursor-pointer p-3 border-round text-700 no-underline hover:surface-100 transition-duration-150 transition-colors p-ripple"
              >
                <i class="pi pi-list mr-2 text-sm"></i>
                <span class="font-medium text-sm">List</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="flex flex-column">
          <div
            pRipple
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="slidedown"
            leaveToClass="hidden"
            leaveActiveClass="slideup"
            class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple flex-shrink-0"
          >
            <div class="flex align-items-center gap-2">
              <i class="pi pi-megaphone font-semibold"></i>
              <span class="font-medium font-semibold">Campaign</span>
            </div>
            <i class="pi pi-chevron-down"></i>
          </div>

          <ul class="list-none pl-2 m-0 overflow-y-auto flex-1">
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                pRipple
                [routerLink]="['/', routes.CAMPAIGN, routes.CAMPAIGN_DRAFT]"
                class="flex align-items-center cursor-pointer p-3 border-round text-700 no-underline hover:surface-100 transition-duration-150 transition-colors p-ripple"
              >
                <i class="pi pi-file-edit mr-2 text-sm"></i>
                <span class="font-medium text-sm">Draft</span>
              </a>
            </li>

            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                pRipple
                [routerLink]="['/', routes.CAMPAIGN, routes.CAMPAIGN_SCHEDULED]"
                class="flex align-items-center cursor-pointer p-3 border-round text-700 no-underline hover:surface-100 transition-duration-150 transition-colors p-ripple"
              >
                <i class="pi pi-calendar-clock mr-2 text-sm"></i>
                <span class="font-medium text-sm">Scheduled</span>
              </a>
            </li>

            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                [routerLink]="['/', routes.CAMPAIGN, routes.CAMPAIGN_ACTIVE]"
                pRipple
                class="flex align-items-center cursor-pointer p-3 border-round text-700 no-underline hover:surface-100 transition-duration-150 transition-colors p-ripple"
              >
                <i class="pi pi-play-circle mr-2 text-sm"></i>
                <span class="font-medium text-sm">Active</span>
              </a>
            </li>
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                pRipple
                [routerLink]="['/', routes.CAMPAIGN, routes.CAMPAIGN_COMPLETED]"
                class="flex align-items-center cursor-pointer p-3 border-round text-700 no-underline hover:surface-100 transition-duration-150 transition-colors p-ripple"
              >
                <i class="pi pi-check-circle mr-2 text-sm"></i>
                <span class="font-medium text-sm">Completed</span>
              </a>
            </li>
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                pRipple
                [routerLink]="['/', routes.CAMPAIGN, routes.CAMPAIGN_CANCELLED]"
                class="flex align-items-center cursor-pointer p-3 border-round text-700 no-underline hover:surface-100 transition-duration-150 transition-colors p-ripple"
              >
                <i class="pi pi-ban mr-2 text-sm"></i>
                <span class="font-medium text-sm">Cancelled</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="flex flex-column">
          <div
            pRipple
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="slidedown"
            leaveToClass="hidden"
            leaveActiveClass="slideup"
            class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple flex-shrink-0"
          >
            <div class="flex align-items-center gap-2">
              <i class="pi pi-play font-semibold"></i>
              <span class="font-medium font-semibold">Playlist</span>
            </div>
            <i class="pi pi-chevron-down"></i>
          </div>

          <ul class="list-none pl-2 m-0 overflow-hidden">
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                pRipple
                [routerLink]="['/', routes.PLAYLIST, routes.PLAYLIST_LIST]"
                class="flex align-items-center cursor-pointer p-3 border-round text-700 no-underline hover:surface-100 transition-duration-150 transition-colors p-ripple"
              >
                <i class="pi pi-list mr-2 text-sm"></i>
                <span class="font-medium text-sm">List</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="mt-auto flex-shrink-0">
        <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />

        <div
          class="m-3 flex align-items-center justify-content-between border-round p-3"
        >
          <div class="flex align-items-center gap-2">
            <p-avatar
              image="https://www.staging.artsdeko.com/build/default-profile.c2fd3cb1.png"
              shape="circle"
            />
            <div class="flex flex-column">
              <span class="font-bold text-sm text-700">John Lamar</span>
              <span class="text-xs text-400">Admin</span>
            </div>
          </div>

          <p-button
            styleClass="logout-btn"
            icon="pi pi-sign-out"
            pTooltip="Logout"
            tooltipPosition="top"
            severity="secondary"
          />
        </div>
      </div>
    </div>
  </ng-template>
</p-sidebar>
