::ng-deep .p-menubar {
  background-color: var(--surface-0) !important;  
}

.text-primary {
  color: var(--primary-text);
}

.p-menubar {
  border-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}
