<p-menubar>
  <ng-template pTemplate="start">
    <div class="flex align-items-center gap-4">
      <div class="ml-3">
        <p-button icon="pi pi-bars" (onClick)="toogleSideBar()"></p-button>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-3 mr-3">
      <p-avatar
        image="https://www.staging.artsdeko.com/build/default-profile.c2fd3cb1.png"
        shape="circle"
        size="large"
      />
    </div>
  </ng-template>
</p-menubar>
