USE [DoohClick]
GO
/****** Object:  StoredProcedure [inv].[sp_screen_sel]    Script Date: 06/04/2026 16:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

=====================================================================
- Description: Retrieve screen with filter and pagination.
- Author: Gyanju Rai
- Created: 2026-04-05
=====================================================================

DECLARE @Json NVARCHAR(MAX) = N'
								{
									"Filter": {
										"StatusIdList": [],
										"CategoryIdList": [],
										"TierIdList": [],
										"SubcategoryIdList": [],
										"OrientationTypeIdList" : [],
										"CountryIdList": [],
										"CityIdList": [],
										"DistrictIdList": [],
										"VenueTypeIdList": []
									},
									"Offset": 0,
									"PageSize": 10,
									"SortBy": "name",
									"SortOrder": "ASC"
								}';

EXEC inv.sp_screen_sel @Json = @Json;

*/

ALTER   PROCEDURE [inv].[sp_screen_sel]
(
	@Json AS NVARCHAR(MAX)
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Offset INT = ISNULL(JSON_VALUE(@Json, '$.Offset'), 0),
			@PageSize INT = ISNULL(JSON_VALUE(@Json, '$.PageSize'), 10),
			@SortBy NVARCHAR(100) = ISNULL(JSON_VALUE(@Json, '$.SortBy'), 'name'),
			@SortOrder NVARCHAR(5) = ISNULL(JSON_VALUE(@Json, '$.SortOrder'), 'ASC'),
			@StatusIdList NVARCHAR(MAX) = ISNULL(JSON_QUERY(@Json, '$.Filter.StatusIdList'), '[]'),
			@CategoryIdList NVARCHAR(MAX) = ISNULL(JSON_QUERY(@Json, '$.Filter.CategoryIdList'), '[]'),
			@TierIdList NVARCHAR(MAX) = ISNULL(JSON_QUERY(@Json, '$.Filter.TierIdList'), '[]'),
			@SubcategoryIdList NVARCHAR(MAX) = ISNULL(JSON_QUERY(@Json, '$.Filter.SubcategoryIdList'), '[]'),
			@OrientationTypeIdList NVARCHAR(MAX) = ISNULL(JSON_QUERY(@Json, '$.Filter.OrientationTypeIdList'), '[]'),
			@CountryIdList NVARCHAR(MAX) = ISNULL(JSON_QUERY(@Json, '$.Filter.CountryIdList'), '[]'),
			@DistrictIdList NVARCHAR(MAX) = ISNULL(JSON_QUERY(@Json, '$.Filter.DistrictIdList'), '[]'),
			@CityIdList NVARCHAR(MAX) = ISNULL(JSON_QUERY(@Json, '$.Filter.CityIdList'), '[]'),
			@VenueTypeIdList NVARCHAR(MAX) = ISNULL(JSON_QUERY(@Json, '$.Filter.VenueTypeIdList'), '[]'),
			@Query NVARCHAR(MAX),
			@TotalRows INT;

	CREATE TABLE #screen
	(
		id UNIQUEIDENTIFIER,
		[name] NVARCHAR(50) NULL,
		normalized_name NVARCHAR(50) NULL,
		[status] INT  NULL,
		tier INT  NULL,
		-- Screen type
		category INT  NULL,
		subcategory INT NULL,
		orientation_type INT  NULL,
		-- Capability
		width INT NULL,
		height INT NULL,
		supported_formats NVARCHAR(MAX)  NULL,
		max_filesize_mb INT NULL,
		max_duration_seconds INT NULL,
		supports_audio BIT NULL,
		supports_html5 BIT NULL,
		-- Location
		country_id INT NULL,
		country NVARCHAR(100) NULL,
		city_id INT NULL,
		city NVARCHAR(100) NULL,
		district_id INT NULL,
		district NVARCHAR(100) NULL,
		venue_type INT NULL,
		venue_name NVARCHAR(100) NULL,
		latitude DECIMAL(9,6) NULL,
		longitude DECIMAL(10, 6) NULL,
		time_zone VARCHAR(50) NULL,
		-- Base price
		currency_code INT NULL,
		amount DECIMAL(19,4) NULL,
		-- Player
		player_id UNIQUEIDENTIFIER NULL,
		player_name NVARCHAR(100)  NULL,
		player_status INT NULL,
		device_type INT NULL,
		-- Ruleset
		ruleset_id UNIQUEIDENTIFIER NULL,
		ruleset_name NVARCHAR(100)  NULL,
		blocked_categories NVARCHAR(MAX)  NULL,
		max_slots_per_loop INT NULL,
		min_time_between_same_ad INT NULL,
		
		concurrency_stamp NVARCHAR(40)  NULL,
		created_at DATETIME  NULL,
		created_by UNIQUEIDENTIFIER  NULL,
		updated_at DATETIME NULL,
		updated_by UNIQUEIDENTIFIER NULL,
		approved_by UNIQUEIDENTIFIER NULL,
		approved_at DATETIME NULL
	);

	INSERT INTO #screen
	(
		id,
		[name],
		normalized_name,
		[status],
		tier,
		category,
		subcategory,
		orientation_type,
		width,
		height,
		supported_formats,
		max_filesize_mb,
		max_duration_seconds,
		supports_audio,
		supports_html5,
		country_id,
		country,
		city_id,
		city,
		district_id,
		district,
		venue_type,
		venue_name,
		latitude,
		longitude,
		time_zone,
		currency_code,
		amount,
		player_id,
		player_name,
		player_status,
		device_type,
		ruleset_id,
		ruleset_name,
		blocked_categories,
		max_slots_per_loop,
		min_time_between_same_ad,
		concurrency_stamp,
		created_at,
		created_by,
		updated_at,
		updated_by,
		approved_at,
		approved_by
	)
	SELECT	s.id,
			s.[name],
			s.normalized_name,
			s.[status],
			s.tier,
			s.category,
			s.subcategory,
			s.orientation_type,
			s.width,
			s.height,
			s.supported_formats,
			s.max_filesize_mb,
			s.max_duration_seconds,
			s.supports_audio,
			s.supports_html5,
			s.country,
			lic.item,
			s.city,
			lict.item,
			s.district,
			lid.item,
			s.venue_type,
			s.venue_name,
			s.latitude,
			s.longitude,
			s.time_zone,
			s.currency_code,
			s.amount,
			s.player_id,
			ISNULL(p.[name], ''),
			p.[status],
			p.device_type,
			s.ruleset_id,
			ISNULL(rs.[name], ''),
			ISNULL(rs.blocked_categories, '[]'),
			rs.max_slots_per_loop,
			rs.min_time_between_same_ad,
			s.concurrency_stamp,
			s.created_at,
			s.created_by,
			s.updated_at,
			s.updated_by,
			s.approved_at,
			s.approved_by
	FROM inv.screen AS s
	LEFT JOIN shared.listitem AS lic ON s.country = lic.id
	LEFT JOIN shared.listitem AS lict ON s.city = lict.id
	LEFT JOIN shared.listitem AS lid ON s.district = lid.id
	LEFT JOIN inv.player AS p ON s.player_id = p.id
	OUTER APPLY (
		SELECT TOP 1.*
		FROM inv.ruleset
		WHERE (
				(s.ruleset_id = id OR is_default = 1) 
				AND is_deleted != 0
				AND [status] = 18
				)
		ORDER BY CASE WHEN s.ruleset_id = id THEN 1 END ASC
	) AS rs
	WHERE 
	(
		@StatusIdList = '[]'
		OR
		s.[status] IN (
			SELECT oj.[value]
			FROM OPENJSON(@StatusIdList) AS oj
		)
	)
	AND
	(
		@CategoryIdList = '[]'
		OR
		s.category IN (
			SELECT oj.[value]
			FROM OPENJSON(@CategoryIdList) AS oj
		)
	)
	AND
	(
		@TierIdList = '[]'
		OR
		s.tier IN (
			SELECT oj.[value]
			FROM OPENJSON(@TierIdList) AS oj
		)
	)
	AND
	(
		@SubcategoryIdList = '[]'
		OR
		s.subcategory IN (
			SELECT oj.[value]
			FROM OPENJSON(@SubcategoryIdList) AS oj
		)
	)
	AND
	(
		@OrientationTypeIdList = '[]'
		OR
		s.orientation_type IN (
			SELECT oj.[value]
			FROM OPENJSON(@OrientationTypeIdList) AS oj
		)
	)
	AND
	(
		@CountryIdList = '[]'
		OR
		s.country IN (
			SELECT oj.[value]
			FROM OPENJSON(@CountryIdList) AS oj
		)
	)
	AND
	(
		@CityIdList = '[]'
		OR
		s.city IN (
			SELECT oj.[value]
			FROM OPENJSON(@CityIdList) AS oj
		)
	)
	AND 
	(
		@DistrictIdList = '[]'
		OR
		s.district IN (
			SELECT oj.[value]
			FROM OPENJSON(@DistrictIdList) AS oj
		)
	)
	AND
	(
		@VenueTypeIdList = '[]'
		OR 
		s.venue_type IN (
			SELECT oj.[value]
			FROM OPENJSON(@VenueTypeIdList) AS oj 
		)
	)
	AND
	s.is_deleted != 1;

	SELECT @TotalRows = COUNT(1)
					FROM #screen;	


	CREATE TABLE #result
	(
		[data] NVARCHAR(MAX)
	);

	
	
	SELECT @Query = N'
		SELECT ISNULL((SELECT	s.id,
								s.[name],
								s.normalized_name,
								s.[status],
								s.tier,
								JSON_QUERY((SELECT	s.category, 
													s.subcategory, 
													s.orientation_type 
													FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
											)) AS [type],
								
								JSON_QUERY((SELECT	s.width, 
													s.height, 
													s.supported_formats, 
													s.max_filesize_mb, 
													s.max_duration_seconds, 
													s.supports_audio, 
													s.supports_html5 
													FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
											)) AS capability,

								JSON_QUERY((SELECT	s.country_id,
													s.country,
													s.city_id,
													s.city,
													s.district_id,
													s.district,
													s.venue_type,
													s.venue_name,
													s.latitude,
													s.longitude,
													s.time_zone
													FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
											)) AS [location],

								JSON_QUERY((SELECT	s.currency_code,
													s.amount
													FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
											)) AS base_price,

								JSON_QUERY((SELECT	s.player_id,
													s.player_name,
													s.player_status,
													device_type
													FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
											)) AS player,
								
								JSON_QUERY((SELECT	s.ruleset_id,
													s.ruleset_name,
													s.blocked_categories,
													s.max_slots_per_loop,
													s.min_time_between_same_ad
													FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
											)) AS ruleset,
								s.concurrency_stamp,
								s.created_at,
								s.created_by,
								s.updated_at,
								s.updated_by,
								s.approved_by,
								s.approved_at
						FROM #screen AS s'
						+ N' ORDER BY [' + @SortBy + N'] ' + @SortOrder 
						+ N' OFFSET ' + CAST(@OffSet AS VARCHAR(100)) + N' ROWS'
						+ N' FETCH NEXT ' + CAST(@PageSize AS VARCHAR(10)) + N' ROWS ONLY
						 FOR JSON PATH, INCLUDE_NULL_VALUES), ''[]'')';

	INSERT INTO #result
	( [data] )
	EXEC ( @Query );

	SELECT ISNULL((
		SELECT	JSON_QUERY([data]) AS [data],
				@TotalRows AS [total_rows]
		FROM #result
		FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
	), '{}');

	DROP TABLE IF EXISTS #screen;
	DROP TABLE IF EXISTS #result;
END;