@import "primeng/resources/themes/aura-light-green/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

:root {
  --sidebar-width: 16.5rem;
}

body {
  margin: 0;
  padding: 0;
}

.card {
  background-color: var(--surface-0) !important;
}

.overflow-y-auto {
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}

.p-menubar {
  border-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}
