@import "primeng/resources/themes/aura-light-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

:root {
  --sidebar-width: 15rem;
  --scrollbar-size: 6px;
  --scrollbar-radius: 8px;
  --scrollbar-thumb: var(--surface-200);;
  --scrollbar-thumb-hover: var(--surface-300);
  --scrollbar-track: transparent;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--surface-100);
}

.card {
  background-color: var(--surface-0) !important;
}

.overflow-y-auto {
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}

.p-menubar {
  border-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}

.p-dialog {
  border-radius: 4px !important;
}

.p-dialog .p-dialog-header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--surface-600);
  padding: 0.6rem;
}

.p-dialog .p-tabView .p-tabPanel .p-tabPanel-header {
  font-size: 0.4rem;
  font-weight: 600;
  color: var(--surface-600);
  padding: 0.6rem;
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-radius);
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}
